@import "tailwindcss";

@layer components {
  .error-message {
    @apply relative md:absolute text-red-600 text-sm mt-1;
  }
}
@layer base {
  :root {
    --foreground: #171717;

    --color-blue-50: #f1f7fe;
    --color-blue-100: #e3eefb;
    --color-blue-200: #c0ddf7;
    --color-blue-300: #89c2f0;
    --color-blue-400: #4aa3e6;
    --color-blue-500: #2387d4;
    --color-blue-600: #156ab4;
    --color-blue-700: #145da0;
    --color-blue-800: #134879;
    --color-blue-900: #153d65;
    --color-blue-950: #0e2743;

    /* Spacing */
    --mobile-margin: 1rem;
    --tablet-margin: 3.75rem;
    --laptop-margin: 6.25rem;
    --desktop-margin: 7.5rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  hr,
  label {
    color: var(--color-blue-950);
  }
  label {
    font-weight: 600;
    font-size: 16px;
  }
  input,
  select {
    @apply px-3 py-2 border border-blue-950/25 rounded-sm 
      focus:outline-none  focus:ring-blue-950 cursor-pointer;
  }
  select {
    @apply pr-3;
  }
  body {
    font-family: var(--font-montserrat), sans-serif;
    background-color: var(--color-blue-800);
    color: var(--foreground);
  }

  /* Blue Text Utilities */
  .text-blue-50 {
    color: var(--color-blue-50);
  }
  .text-blue-100 {
    color: var(--color-blue-100);
  }
  .text-blue-200 {
    color: var(--color-blue-200);
  }
  .text-blue-300 {
    color: var(--color-blue-300);
  }
  .text-blue-400 {
    color: var(--color-blue-400);
  }
  .text-blue-500 {
    color: var(--color-blue-500);
  }
  .text-blue-600 {
    color: var(--color-blue-600);
  }
  .text-blue-700 {
    color: var(--color-blue-700);
  }
  .text-blue-800 {
    color: var(--color-blue-800);
  }
  .text-blue-900 {
    color: var(--color-blue-900);
  }
  .text-blue-950 {
    color: var(--color-blue-950);
  }

  /* Blue Background Utilities */
  .bg-blue-50 {
    background-color: var(--color-blue-50);
  }
  .bg-blue-100 {
    background-color: var(--color-blue-100);
  }
  .bg-blue-200 {
    background-color: var(--color-blue-200);
  }
  .bg-blue-300 {
    background-color: var(--color-blue-300);
  }
  .bg-blue-400 {
    background-color: var(--color-blue-400);
  }
  .bg-blue-500 {
    background-color: var(--color-blue-500);
  }
  .bg-blue-600 {
    background-color: var(--color-blue-600);
  }
  .bg-blue-700 {
    background-color: var(--color-blue-700);
  }
  .bg-blue-800 {
    background-color: var(--color-blue-800);
  }
  .bg-blue-900 {
    background-color: var(--color-blue-900);
  }
  .bg-blue-950 {
    background-color: var(--color-blue-950);
  }
}
@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}
/* Margin utilities */
.mobile-margin {
  margin: var(--mobile-margin);
}
.tablet-margin {
  margin: var(--tablet-margin);
}
.laptop-margin {
  margin: var(--laptop-margin);
}
.desktop-margin {
  margin: var(--desktop-margin);
}


/* for docx designs */
.docx-render-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.docx-render-container .page {
  width: 297mm;
  height: 210mm;
  margin: 10px auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* scroll in desktop view */
@media (min-width: 1024px) {
  .docx-render-container {
    overflow-y: auto;
    overflow-x: hidden;
  }
}

/* scrool in tablet view */
@media (max-width: 1023px) {
  .docx-render-container {
    overflow-x: auto;
    overflow-y: hidden;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .docx-render-container .page {
    scroll-snap-align: start;
    flex: 0 0 auto;
    margin: 0 20px 0 0;
  }
}

/* to scroll sa mobile view */
@media (max-width: 768px) {
  .docx-render-container {
    padding: 10px;
  }
  
  .docx-render-container .page {
    margin: 0 10px 0 0;
  }
}